.about-body {
    margin: 2.5vh;
    box-sizing: border-box;
    /* border: 1px solid silver; */
}

.about-sections {
    height: 71.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.inner-about-sections {
    transform: skewX(5deg);
    height: 30%;
    overflow: hidden;
    margin: 2.5vh auto;
    padding: 2vh;
    width: 40%;
    box-shadow: 5px 5px cornflowerblue;
    /* box-shadow: 5px 5px  rgb(224, 12, 12); */
    transition: transform .5s; /* Animation */
    border: 1px solid silver;
}


.software-engineer:hover {
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: scale(1.5,1.5) translate(40%, 40%) skewX(5deg);
}


.family:hover {
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: scale(1.5,1.5) translate(-40%, 40%) skewX(5deg);
}


.education:hover {
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: scale(1.5,1.5) translate(40%, -40%) skewX(5deg);
}

.background:hover {
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: scale(1.5,1.5) translate(-40%, -40%) skewX(5deg);
}

.lvl2-inner-about {
    height: 80%;
    padding: 2vh;
    overflow:scroll;
    transform: skewX(-5deg);
    /* border: 1px solid red; */
}


/* Scrollbar */
.lvl2-inner-about::-webkit-scrollbar {
    width: 10px;
}


.lvl2-inner-about::-webkit-scrollbar-track:vertical {
    background-color:rgba(0, 0, 255, 0.3);
    box-shadow: inset 0 0 10px blue;
    border-radius: 10px;
}


.lvl2-inner-about::-webkit-scrollbar-thumb {
    height: 1px;
    background-color: blue;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* End Scrollbar */


/* Tablet */
@media(max-width: 800px) {
    .about-sections {
        height: auto;
        display: flexbox;
        flex-wrap: wrap;
    }
    .inner-about-sections {
        width: 100%;
        margin: 3vh;
    }
}


/* Phone */
@media(max-width: 500px) {
    .inner-about-sections {
        height: 25vh;
    }
}