.about-body {
    margin: 2.5vh;
    box-sizing: border-box;
    /* border: 1px solid silver; */
}

.about-sections {
    height: 71.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.inner-about-sections {
    transform: skewX(5deg);
    height: 30%;
    overflow: hidden;
    margin: 2.5vh auto;
    padding: 2vh;
    width: 40%;
    box-shadow: 5px 5px cornflowerblue;
    transition: transform .5s; /* Animation */
    border: 1px solid silver;
}


.lvl2-inner-about h3 {
    display: inline-block;
    width: 50%;
    font-size: 1.5em;
}


.lvl2-inner-about h5{
    display: inline-block;
    width: 45%;
    margin: 0;
    color: gray;
    text-align: end;
}


.lvl2-inner-about p {
    font-size: 1em;
}

/* Desktop hover effects */
.software-engineer:hover {
    font-size: 6px;
    background-color: white;
    z-index: 1;
    transform: scale(2.25, 2.25) translate(25%, 30%) skewX(5deg);
}


.family:hover {
    font-size: 6px;
    background-color: white;
    z-index: 1;
    transform: scale(2.25, 2.25) translate(-26.5%, 30%) skewX(5deg);
}


.education:hover {
    font-size: 6px;
    background-color: white;
    z-index: 1;
    transform: scale(2.25, 2.25) translate(25%, -31.5%) skewX(5deg);
}


.background:hover {
    font-size: 6px;
    background-color: white;
    z-index: 1;
    transform: scale(2.25, 2.25) translate(-26.5%, -31.5%) skewX(5deg);
}

/* remove hover instruction */
.software-engineer:hover h5, .family:hover h5, .education:hover h5, .background:hover h5{
    display: none;
}


.lvl2-inner-about {
    height: 80%;
    padding: 2vh;
    overflow:scroll;
    transform: skewX(-5deg);
}


/* Scrollbar */
/* .lvl2-inner-about::-webkit-scrollbar {
    width: 10px;
}


.lvl2-inner-about::-webkit-scrollbar-track:vertical {
    background-color:rgba(0, 0, 255, 0.3);
    box-shadow: inset 0 0 10px blue;
    border-radius: 10px;
}


.lvl2-inner-about::-webkit-scrollbar-thumb {
    height: 1px;
    background-color: blue;
    border-radius: 10px;
} */

/* End Scrollbar */


/* Tablet */
@media(max-width: 800px) {
    .about-sections {
        height: auto;
        display: flexbox;
        flex-wrap: wrap;
    }
    .inner-about-sections {
        width: 100%;
        margin: 3vh;
    }
    /* hover effects */
    .software-engineer:hover {
        font-size: 1em;
        background-color: white;
        z-index: 1;
        transform: scale(1, 1) translate(0%, 0%) skewX(5deg);
    }


    .family:hover {
        font-size: 1em;
        background-color: white;
        z-index: 1;
        transform: scale(1, 1) translate(0%, 0%) skewX(5deg);
    }


    .education:hover {
        font-size: 1em;
        background-color: white;
        z-index: 1;
        transform: scale(1, 1) translate(0%, 0%) skewX(5deg);
    }


    .background:hover {
        font-size: 1em;
        background-color: white;
        z-index: 1;
        transform: scale(1, 1) translate(0%, 0%) skewX(5deg);
    }

    /* remove hover instruction */
    .software-engineer h5, .family h5, .education h5, .background h5{
        display: none;
    }
}


/* Phone */
@media(max-width: 500px) {
    .inner-about-sections {
        height: auto;
    }

    .lvl2-inner-about {
        height: auto;
    }
}