.nav-wrapper {
    display: flex;
    padding: 2rem;
    border: 1px solid #888888;
    box-shadow: 2px 4px #888888;
}

.nav-logo {
    width: 5%;
}


.flex-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    /* border: 1px solid rgb(28, 128, 28); */
}

.navlinks{
    color: blue;
    width: 12rem;
    font-size: 2rem;
    list-style-type: none;
    text-decoration: none;
    /* border: 1px solid red; */
}

.flex-tags a:hover{
    font-weight: bold;
    color:  rgb(224, 12, 12);
    /* text-decoration: underline; */
}

.selected-nav{
    color:  rgb(224, 12, 12);
    font-weight: bold;
    text-decoration: underline;
    /* background-color: orange; */
}

/* Tablet */
@media(max-width: 800px) {
    /* .nav-wrapper{
        text-align: center;
    } */
    .flex-tags{
        margin: 0;
        padding: 0;
        display: flexbox;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .navlinks {
        width: 49%;
        padding: 1vh 0;
        text-align: center;
        border-bottom: 1px solid black;      
    }

    .navlinks:nth-child(1n+3){
        border-bottom: none;
    }

    .navlinks:nth-child(2n+1){
        border-right: 1px solid black;
    }

    .navlinks li{
        width: 100%;
        font-size: 4vh;
        text-align: center;
    }
    .nav-logo {
        display: none;
    }
}