
HTML {
  font-size: 62.5%;
}

.App {
  width: 80vw;
  /* max-width: 100%; */
  min-height: 90vh;
  margin: 5vh auto;
  box-sizing: border-box;
  border: 1px solid #888888;
  box-shadow: 2px 4px #888888;
  /* text-align: center; */
}

/* .home-container {
  border: 1px solid blue;
} */

.home-body {
  height: 60vh;
  margin: 5vh;
  padding: 5vh;
  /* border: 1px solid red; */
}

/* tablet Home container */
@media(max-width: 800px){
  .home-body {
    margin: 0;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
