/* css variables */
:root {
    --primary-pad-marg: 2rem;
    --primary-border: 1px solid red;
}

/* portfolio section wrapper */
.portfolio-user-wrapper {
    width: 98.2%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--primary-pad-marg);
    padding-left: var(--primary-pad-marg);
    /* border: var(--primary-border); */
}


/* content */
.h3 {
    margin-top: 0;
    color: silver;
    /* border: var(--primary-border); */
}

h1 {
    margin-top: 1rem;
    font-size: 10vh;
    font-weight: bolder;
    /* border: var(--primary-border); */
}

span {
    margin-left: 12.5rem;
}

.image-wrapper {
    width: 35%;
    /* border: var(--primary-border); */
}

.image-wrapper img {
    margin-top: 4rem;
    width: 95%;
}

.user-detail {
    width: 40%;
}

/* Tablet */
@media(max-width: 800px){
    .portfolio-user-wrapper{
        margin: 0;
        padding: 0;
        display: flexbox;
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }
    .portfolio-user-wrapper .user-detail h1, h3, span{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .user-detail {
    width: 100%;
    /* height: 4vh; */
    /* border: 1px solid red; */
    }
    .user-detail h1, span{
    font-size: 4rem;
    /* border: 1px solid green; */
    }
    .image-wrapper {
        width: 100%;
    }
}


/* Phone Landscape */
@media(max-width: 900px) {
    .portfolio-user-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        /* border: 1px solid blue; */
    }
    .image-wrapper {
        width: 80%;
        margin-top: 0;
        order: 1;
        /* border: 1px solid red; */
    }
    .image-wrapper img {
        margin-top: 2vh;
    }
}