.contact-body {
    margin: 5vh;
    padding: 15vh;
    height: 50vh;
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid red; */
}

.contact-body h2 {
    font-size: 3vw;
}

.contact-body p{
    font-size: 1vw;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-right: 10vh;
}

.social-icons a {
    color: blue;
}


.download-resume {
    cursor: pointer;
    color: blue;
}
