.contact-body {
    /* margin: 5vh; */
    padding: 15vh;
    height: 50vh;
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid red; */
}

.contact-body h2 {
    margin-bottom: 8vh;
    font-size: 3vh;
}

.contact-body p{
    font-size: 2vh;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
    margin-right: 10vh;
}

.social-icons a {
    color: blue;
}

.social-icons a span:hover {
    cursor: pointer;
    color:  rgb(224, 12, 12);
}


.download-resume {
    color: blue;
}

.download-resume span:hover{
    cursor: pointer;
    color:  rgb(224, 12, 12);
}

/* Tablet 800px */
@media(max-width: 800px) {
    .contact-body{
        padding: 5vh;
        /* border: 1px solid red; */
    }
    .contact-body h2 {
        margin-bottom: 5vh;
    }
    .contact-body p {
        font-size: 2vh;
    }
    .social-icons {
        width: 100%;
        justify-content: space-between;
        /* border: 1px solid red; */
    }
}

/* Phone Portrait 500px */
@media(max-width: 500px) {
    .contact-body {
        margin: 0;
        margin-top: 6%;
        align-content: center;
        padding: 1vh;
        /* border: 1px solid red; */
    }
    .contact-body p {
        font-size: 2vh;
    }
    .social-icons a, .download-resume{
        width: 25%;
    }
}

/* Phone Landscape */
@media(max-width: 900px) {
    .contact-body {
        height: 60vh;
    }
    .contact-body p {
        font-size: 3vh;
    }
}
